@model IEnumerable<string>
@{
    ViewBag.Title = "Forbidden words";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/Admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Admin/plugins/ekko-lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="~/Content/Admin/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
}
<div class="content-wrapper kanban">
    <section class="content pb-3">
        <div class="container-fluid h-100">
            <div class="card card-row card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        Forbidden words
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline">
                        @foreach (string word in Model)
                        {
                            <div class="card-header">
                                <h5 class="card-title">@word</h5>
                                <div class="card-tools">
                                    <a href="@Url.Action("RemoveWord", "Forum", new { word = word })" class="btn btn-tool">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card card-row card-secondary" style="height: 185px;">
                <div class="card-header">
                    <h3 class="card-title">
                        Add forbidden word
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-header">
                            @Html.TextBox("words", "", new { @class = "form-control" })
                        </div>
                        <div>
                            <button type="submit" class="btn btn-block btn-success btn-lg">Add</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

    @section scripts {
        <script src="~/Content/Admin/plugins/jquery/jquery.min.js"></script>
        <script src="~/Content/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/Admin/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
        <script src="~/Content/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <script src="~/Content/Admin/dist/js/adminlte.min.js"></script>
        <script src="~/Content/Admin/plugins/filterizr/jquery.filterizr.min.js"></script>
        <script src="~/Content/Admin/dist/js/demo.js"></script>
    }
